#define TORABO_TSUKI_LP_RIGHT 1

#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <dt-bindings/pinctrl/nrf-pinctrl.h>

&pointing_listener {
    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
    scroller {
        layers = <3>;
        input-processors = <
            &zip_xy_transform (INPUT_TRANSFORM_X_INVERT)
            &zip_xy_to_scroll_mapper
        >;
    };
};

&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};

/* --- ここから追加: 左手と同じI2Cピンとダイヤルハードウェアの定義 --- */
&pinctrl {
    i2c1_default_ext: i2c1_default_ext {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 29)>,
                    <NRF_PSEL(TWIM_SCL, 0, 31)>;
        };
    };
    i2c1_sleep_ext: i2c1_sleep_ext {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 29)>,
                    <NRF_PSEL(TWIM_SCL, 0, 31)>;
            low-power-enable;
        };
    };
};

&i2c1 {
    status = "okay";
    compatible = "nordic,nrf-twi";
    pinctrl-0 = <&i2c1_default_ext>;
    pinctrl-1 = <&i2c1_sleep_ext>;
    pinctrl-names = "default", "sleep";
    
    hires_dial_ext: hires_dial@75 {
        compatible = "sekigon,hires-dial";
        reg = <0x75>;
        /* ドライバ動作のための必須プロパティ */
        res-cpi = <1275>;
        counts-per-revolution = <1275>;
        motion-gpios = <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};
/* --- 追加ここまで --- */

/ {
    /* 右手側でもセンサーとして登録（モジュール換装時に機能します） */
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&hires_dial_ext>;
        triggers-per-rotation = <20>;
    };

    leds {
        compatible = "gpio-leds";
        
        ext_led_red: led_0 {
            gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
            label = "Red LED";
        };

        ext_led_yellow: led_1 {
            gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
            label = "Yellow LED";
        };

        ext_led_green: led_2 {
            gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
            label = "Green LED";
        };
    };

    layer_leds {
        compatible = "zmk,behavior-layer-led";

        layer1_led {
            layers = <1>;
            leds = <&ext_led_yellow>;
        };

        layer2_led {
            layers = <2>;
            leds = <&ext_led_green>;
        };

        layer3_led {
            layers = <3>;
            leds = <&ext_led_red>;
        };
    };
};
