#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <dt-bindings/pinctrl/nrf-pinctrl.h>

&pointing_listener {
    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
};

/* --- 修正: i2c0 ではなく i2c1 用のピン設定に変更 --- */
&pinctrl {
    i2c1_default_ext: i2c1_default_ext {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 29)>,
                    <NRF_PSEL(TWIM_SCL, 0, 31)>;
        };
    };
    i2c1_sleep_ext: i2c1_sleep_ext {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 29)>,
                    <NRF_PSEL(TWIM_SCL, 0, 31)>;
            low-power-enable;
        };
    };
};

/* --- 修正: 競合を避けるため &i2c1 を使用 --- */
&i2c1 {
    status = "okay";
    compatible = "nordic,nrf-twi";
    pinctrl-0 = <&i2c1_default_ext>;
    pinctrl-1 = <&i2c1_sleep_ext>;
    pinctrl-names = "default", "sleep";
    
    hires_dial_ext: hires_dial@75 {
        compatible = "sekigon,hires-dial";
        reg = <0x75>;
        res-cpi = <1275>;
        counts-per-revolution = <1275>;
        motion-gpios = <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

/ {
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&hires_dial_ext>;
        triggers-per-rotation = <20>;
    };

    leds {
        compatible = "gpio-leds";
        led_yellow: led_1 {
            gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
        };
        led_green: led_2 {
            gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
        };
        led_red: led_3 {
            gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
        };
    };

    layer_leds {
        compatible = "zmk,behavior-layer-led";
        
        layer_1 {
            layer = <1>;
            leds = <&led_yellow>;
        };
        layer_2 {
            layer = <2>;
            leds = <&led_green>;
        };
        layer_3 {
            layer = <3>;
            leds = <&led_red>;
        };
    };
};
