/* メイン基板のFFCコネクタ（I2C0）にダイヤルモジュールを接続する設定 */
&i2c0 {
    status = "okay";
    compatible = "nordic,nrf-twim";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <100000>;
    
    hires_dial_ext: hires_dial@75 {
        compatible = "sekigon,hires-dial";
        reg = <0x75>;
        res-cpi = <1275>;
        counts-per-revolution = <1275>;
        /* メイン基板FFCコネクタの標準割り込みピン（トラックパッドと共通） */
        motion-gpios = <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

/ {
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&hires_dial_ext>;
        triggers-per-rotation = <20>;
    };
};
